.sidebar {
    height: 44px;
    background-color: #1b2120;
    display: flex;
    justify-content: center;
}

.sidebar-carousel {
    display: flex;
    align-items: center;
}

.sidebar-carousel button {
    background-color: transparent;
    border: none;
    padding: 0 1em;
    transition: transform .2s linear;
}

.sidebar-carousel button:hover {
    transform: scale(1.2);
}

.sidebar-carousel__elements {
    width: 300px;
    text-align: center;
}

.sidebar-carousel__elements p {
    display: inline-block;
    color: #fff;
    font-size: .9em;
    border-bottom: 1px solid white;
}